.contenedor {
    display:flex;
}

.columna-izquierda {
    flex: 50%;
    padding: 50px;
   
}

.columna-derecha {
    flex: 50%; /* Ocupa el 50% del ancho disponible */
    padding: 70px;
    margin-bottom: 20;
   
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color:#fff ;
    color: black;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    align-items: center;

}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    margin-top: 0;
}



footer{
    text-align: center;
background-color: #333;
color: aliceblue;
border-radius: 50;
border-style:double ;
}
